TYPE="{{ br0.type }}"
BOOTPROTO="{{ br0.proto }}"
DEVICE="{{ br0.device }}"
ONBOOT="{{ br0.onboot }}"
IPADDR="{{ br0.ipv4 }}"
NETMASK="{{ br0.netmask }}"
GATEWAY="{{ br0.gateway }}"
NM_CONTROLLED="{{ br0.nm }}"
